## Importing Dependencies

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Loading the Dataset

In [3]:
cas_df = pd.read_csv("INAI-Challenge-Dataset/iraste_nxt_cas.csv")
casdms_df = pd.read_csv("INAI-Challenge-Dataset/iraste_nxt_casdms.csv")

In [12]:
cas_df.head()

     Alert        Date      Time        Lat       Long  Vehicle  Speed
0  cas_ldw  2022-05-01  00:00:06  14.196872  77.631213   3829.0     58
1  cas_ldw  2022-05-01  00:00:07  16.511887  80.746034   8111.0     56
2  cas_ldw  2022-05-01  00:00:11  17.908537  78.464064   1153.0     74
3  cas_ldw  2022-05-01  00:00:11  13.152203  77.620431   7103.0     72
4  cas_ldw  2022-05-01  00:00:15  16.512134  80.748452   8111.0     57

In [13]:
casdms_df.head()

     Alert        Date      Time        Lat       Long  Vehicle  Speed
0  cas_hmw  2022-05-01  00:00:29  17.158688  79.306623     3867     55
1  cas_ldw  2022-05-01  00:00:52  17.158928  79.309335     3867     60
2  cas_ldw  2022-05-01  00:01:03  17.159078  79.310747     3867     67
3  cas_ldw  2022-05-01  00:01:16  17.159457  79.314245     3867     73
4  cas_ldw  2022-05-01  00:01:27  16.814285  80.246173     6123     61

In [28]:
def describe_and_info(df: pd.DataFrame):
    print(f"\n\nShape of Data: {df.shape}")
    print(f"\n\nDataTypes: {df.dtypes}")
    print(f"\n\nDataset Description:\n{df.describe()}")
    print(f"\n\nDataset Info:\n{df.info()}")
    print(f"\n\nNumber of Unique Values in the Dataset:\n{df.nunique()}")

In [29]:
describe_and_info(cas_df)

Dataset Description:
                Lat          Long       Vehicle         Speed
count  1.785508e+06  1.785508e+06  1.785509e+06  1.785509e+06
mean   1.760528e+01  7.899734e+01  5.536336e+03  5.943645e+01
std    2.125467e+00  1.005071e+00  2.866079e+03  2.063253e+01
min    1.221056e+01  7.390717e+01  1.140000e+02  0.000000e+00
25%    1.662601e+01  7.832018e+01  3.185000e+03  5.000000e+01
50%    1.718232e+01  7.906153e+01  6.132000e+03  6.400000e+01
75%    1.833605e+01  7.953207e+01  8.113000e+03  7.400000e+01
max    2.213794e+01  8.333997e+01  9.887000e+03  1.000000e+02
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1785509 entries, 0 to 1785508
Data columns (total 7 columns):
 #   Column   Dtype
---  ------   -----
 0   Alert    object
 1   Date     object
 2   Time     object
 3   Lat      float64
 4   Long     float64
 5   Vehicle  float64
 6   Speed    int64
dtypes: float64(3), int64(1), object(3)
memory usage: 95.4+ MB


Dataset Info:
None


Number of Unique Values in the Dataset:
Alert            5
Date            30
Time         86400
Lat        1042345
Long       1021640
Vehicle        313
Speed          101
dtype: int64


Shape of Data: (1785509, 7)

In [25]:
describe_and_info(casdms_df)

Dataset Description:
                Lat          Long       Vehicle         Speed
count  60487.000000  60487.000000  60487.000000  60487.000000
mean      17.068180     79.572953   7168.667978     66.157852
std        0.235367      0.607719   1305.320076     14.917828
min       16.492685     78.234730   3867.000000      0.000000
25%       16.916235     79.103022   6123.000000     59.000000
50%       17.158827     79.559413   6837.000000     69.000000
75%       17.229787     80.100460   8122.000000     76.000000
max       17.608050     80.666170   8877.000000    100.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60487 entries, 0 to 60486
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Alert    60487 non-null  object
 1   Date     60487 non-null  object
 2   Time     60487 non-null  object
 3   Lat      60487 non-null  float64
 4   Long     60487 non-null  float64
 5   Vehicle  60487 non-null  int64
 6   Speed    60487 non-null  int64
dtypes: float64(2), int64(2), object(3)
memory usage: 3.2+ MB


Dataset Info:
None


Number of Unique Values in the Dataset:
Alert         11
Date          30
Time       43247
Lat        46024
Long       54261
Vehicle        5
Speed         97
dtype: int64


Shape of Data: (60487, 7)